node_modules/
.tools/
.venv/
.env
storage/videos/
storage/clips/
storage/imagens/
storage/temp/
uploads/
secrets/
*.log
.DS_Store
Thumbs.db

storage/tmp/
storage/artes/
storage/fontes/
storage/banco-imagens/
cookies.txt
*.cookies.txt
youtube-cookies*.txt
